/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --off-white: 254, 254, 254;
  --black: 46, 52, 64;
  --gray: 229, 233, 240;
  --gray-light: 236, 239, 244;
  --gray-dark: 216, 222, 233;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --blue-light: 129, 161, 193;
  --blue: 94, 129, 172;

  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

  --foreground: rgba(var(--black), 100%);
  --background: rgba(var(--off-white), 100%);

  --accent: rgba(var(--blue), 100%);
  --accent-dark: #4e67ce;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--background);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--foreground);
  font-size: 20px;
  line-height: 1.35;
}
main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--foreground);
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  /* background-color: rgb(var(--gray-light)); */
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
  background-color: rgb(var(--gray-light));
}
blockquote {
  position: relative;
  display: flex;
  border-left: 4px solid var(--foreground);
  padding: 0 0 0 1rem;
  padding: 1rem;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 1.15rem;
}
blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
  background: var(--foreground);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.prose blockquote p {
  margin-bottom: 0;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

article p {
  width: 100%;
}

article > p:first-of-type:first-letter {
  display: inline-flex;
  align-items: flex-start;
  width: 1ch;
  height: 4rem;
  margin-top: 0.375rem;
  margin-right: 0.25rem;
  font-size: 5.5rem;
  line-height: 0.565;
  float: left;
}

@media screen and (max-width: 490px) {
  article p:first-of-type:first-letter {
    line-height: 0.595;
  }

  .title h1 {
    font-size: 2rem;
  }
}

code {
  font-family: "monospace", serif;
  padding: 0.075em 0.375em;
  border-radius: 0.25rem;
  font-size: 0.9em;
  font-weight: 400;
  background-color: rgba(var(--gray), 60%);
}

ul {
  padding-left: 1.15rem;
  margin-bottom: 3rem;
}
