---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import FormattedDate from "../components/FormattedDate.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}

			article {
				padding-top: 2rem;
			}

			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 100%;
				max-width: 75ch;
				margin: 0 auto;
				padding: 1em 0;
				color: var(--foreground);
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<h1>About</h1>
					</div>
				</div>
				<div class="prose">
					<code>nixpkgs.news</code> is run by <a href="https://jakehamilton.dev" target="_blank" rel="noopener noreferrer">Jake Hamilton</a>. All posts are created by hand (unless explicitly noted) to document the Nix community's activity each week. You can get in touch via <a href="https://hachyderm.io/@jakehamilton" target="_blank" rel="noopener noreferrer">Mastodon</a> to leave feedback or contribute.
				</div>
				<div class="prose">
					Thank you for reading!
				</div>
			</article>
		</main>
	</body>
</html>
